<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <a href="/users/signIn">Sign in</a>
    <br>
    <a href="/users/logIn">log in</a>

</body>

</html>